html,body{
    height: 100%;
    width:100%;

}
#parent{
    height:500px;
    width:500px;
    background-color: aqua;
}
#child{
    height:250px;
    width:250px;
    background-color: antiquewhite;
}